<!DOCTYPE html>
<html lang="en">
<head>
    <title>Microsoft Teams Hello World Sample App</title>
    <base href="@(Url.Content("~"))" />
    <link href="/content/msteams-16.css" rel="stylesheet" />
    <link href="/content/Site.css" rel="stylesheet" />
</head>
    
<body class="theme-light">
    <div class="surface">
        <div class="panel">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" src="https://statics.teams.cdn.office.net/sdk/v1.5.2/js/MicrosoftTeams.min.js"></script>
    <script type="text/javascript" src="/scripts/teamsappv1.js"></script>

    <!--
    <script type="text/javascript" src="https://res.cdn.office.net/teams-js/2.0.0/js/MicrosoftTeams.min.js"></script>
    <script type="text/javascript" src="/Scripts/teamsappv2.js"></script>
    -->
    @RenderSection("scripts", required: false)

</body>
</html>
