<span id="userType" hidden>employee</span>
<span id="teamsUserId" hidden></span>
<span id="teamsUserAcsId" hidden></span>

<span id="threadDetail" hidden></span>

<div class="chats-grid-container" id="chat-grid-container">
    <div class="chats-grid-threads-item" id="chat-thread-list-grid-item"></div>
    <div class="chats-grid-send-item" id="send-message-grid-item">
        <form>
            <textarea placeholder="Type message.." id="message-box" class="message-box" required></textarea>
            <button type="button" id="send-message" class="send-message">Send</button>
        </form>
    </div>
    <div class="chats-grid-messages-item" id="chat-thread-detail-grid-item"></div>
</div>
